
<link rel="stylesheet" href="/assets/css/style.css">
 
<nav class="pcoded-navbar menupos-fixed menu-light ">
    <app-sidebar></app-sidebar>
</nav>

<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-blue">
    <div class="m-header">
        <a class="mobile-menu on" id="mobile-collapse"><span></span></a>
        <a class="b-brand">
           
            <span>BRS SISTEM</span>
            <img src="/assets/images/logo1.png" alt="" class="logo">
        </a>
        <a class="mob-toggler">
            <i class="feather icon-more-vertical"></i>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li>
                <div class="dropdown drp-user">
                    <a href="#!" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/images/user/avatar_1.png" class="img-radius wid-40" alt="User-Profile-Image">
                        <a [routerLink]="['/admin/profile']" style="margin-right: 30px; margin-left: 10px;">Dedi Samosir</a>
                        <a (click)="logout()" class="dud-logout" title="Logout">
                            <i class="feather icon-log-out"></i>
                        </a>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>

<div class="pcoded-main-container">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
